# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------
# Virtual Environment
# ----------------------
venv/
.env/

# ----------------------
# Vector Databases / Indexes
# ----------------------
runbook_index/
*.faiss
*.pkl

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Build / Cache
# ----------------------
build/
dist/
.eggs/
*.egg-info/
